.ipynb_checkpoint
*checkpoint.ipynb
._dataset*
*.lock
*.arrow
dataset_info.json

*.pyc
YOLOv8/training_yolo_v8/runs/*
logs
models
temp_images
hyper_params
*.bin
config.json
variables
*pb
runs
*.pt
test*.png
kernel-metadata.json