<div id="legend" style="display: none">
    <h2>
      Patología
    </h2>
    <div class="row d-flex flex-row  justify-content-start">
      <p>Letra que acompaña el recuadro de cada anomalía detectada y % de confianza en la predicción</p>
    </div>

    <div class="row d-flex flex-row  justify-content-start">
      <div class="col-md-6">
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(0,255,0,255);"></div>
          <p class="legend-label">B: Benigno</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(255,0,0,255);"></div>
          <p class="legend-label">M: Maligno</p>
        </div>
      </div>
    </div>    
    <h2>
      Tipos de anomalía
    </h2>
    <div class="row d-flex flex-row  justify-content-start">
      <p>Color del recuadro que marca la anomalía</p>
    </div>
    <div class="row d-flex flex-row  justify-content-start">
      <div class="col-md-6">
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(255,0,0,255);"></div>
          <p class="legend-label">Calcificación</p>
        </div>
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(0,0,255,255);"></div>
          <p class="legend-label">Masa</p>
        </div>
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(234,247,42,255);"></div>
          <p class="legend-label">Asimetria</p>
        </div>
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(0,0,0,255);"></div>
          <p class="legend-label">Cluster</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(161,97,19,255);"></div>
          <p class="legend-label">Distorsión</p>
        </div>
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(156,8,158,255);"></div>
          <p class="legend-label">Región espiculada</p>
        </div>
        <div class="row d-flex flex-row  justify-content-start">
          <div class="container colored-label" style="background-color: rgba(97,97,97,255);"></div>
          <p class="legend-label">No asociada</p>
        </div>
      </div>
    </div>
  </div>